@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;200;300;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  /* background: #c0c0c0; */
  color: #000000;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

/* .TopImgContainer {
  background-image: url('https://cdn.jsdelivr.net/gh/Azeem-py/Dancers4Life/src/assets/dancing-img-top2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */

.enrollBtn {
  @apply border-2 px-5 py-3 rounded-md bg-[#660000] text-[#c0c0c0] font-semibold drop-shadow-md my-3 transition-transform transform hover:scale-105;
}

.authBtn {
  @apply rounded-md px-2 py-1 text-xl font-bold drop-shadow-lg cursor-pointer;
}
